{% extends 'index.html' %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h1>Simple web crawler</h1>
<p>This website can fetch information from www.mitbbs.com</p>
</div>

<form action='/webcrawler/mitbbs.html' method='GET'>
<div class="form-group">
  <label for="keywords">Enter Keywords</label>
  <input type="text" class="form-control" id="keywords" name="keywords" placeholder="keywords">
</div>

<div class="form-group">
  <label for="pages">Select list:</label>
  <select class="form-control" id="pages" name="pages">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
  </select>
</div>

<div class="form-group">
  <label for="content_page">Enter Keywords</label>
  <input type="text" class="form-control" id="content_page" name="content_page" placeholder="求职">
</div>


<button type="submit" class="btn btn-default">Submit</button>
{% csrf_token %}
</form>


<container>
<table class="table table-hover">
{% for title, website in results.items %}
<tr>
	<td><a href='{{website}}' target="_blank">{{title}}</a></td>
<tr>
{% endfor %}
</table>
</container>

{% endblock %}